In [43]:
# imports the necessary python modules
import os
import pandas as pd

# obtains the machine username for cleaner file paths
user = os.environ["HOME"]

In [45]:
city_data = pd.read_csv(user+"/Documents/CSC7052_Data_Preprocessing/data/airports.csv")

# selects specific columns
city_data = city_data[['City', 'Country']]

# drops duplicate rows
city_data = city_data.drop_duplicates(['City','Country'])

# resets and drops the index
city_data = city_data.reset_index(drop=True)

city_data.head()

       City Country
0  Bordeaux  France
1      Lyon  France
2      Nice  France
3     Paris  France
4  Toulouse  France

In [40]:
# outputs the city data to csv
city_data.to_csv(user+"/Documents/CSC7052_Data_Preprocessing/data/cities.csv", index=False)