In [19]:
# imports the necessary python modules 
import os
import numpy as np
import pandas as pd

# obtains the machine username for cleaner file paths
user = os.environ["HOME"]

In [20]:
# reads in the city data
country_data = pd.read_csv(user+"/Documents/CSC7052_Data_Preprocessing/data/cities.csv")

# selects specific columns
country_data = country_data[['Country']]

# drops duplicate rows
country_data = country_data.drop_duplicates(['Country'])

# resets and drops the index
country_data = country_data.reset_index(drop=True)

country_data.head()

       Country
0       France
1      Germany
2        Italy
3  Netherlands
4     Portugal

In [21]:
# outputs the country data to csv
country_data.to_csv(user+"/Documents/CSC7052_Data_Preprocessing/data/countries.csv", index=False)