In [22]:
# imports the necessary python modules 
from bs4 import BeautifulSoup
from faker import Faker
fake = Faker()

fake = Faker('en_GB')
import os
import numpy as np
import pandas as pd
import random
import requests
import wikipedia as wp

In [32]:
col_names =  ['A', 'B', 'C', 'D', 'E', 'Age']
df  = pd.DataFrame(columns = col_names)
df

Empty DataFrame
Columns: [A, B, C, D, E, Age]
Index: []

In [33]:
#
for i in range(10):
    stuff = [fake.name()
        , fake.email()
        , fake.address()
        , fake.city()
        , fake.date_time()
        , random.randint(1, 100)]
    df.loc[i] = [item for item in stuff]
    #print(df)

In [34]:
df.head()

,A,B,C,D,E,Age
0,Dr. Maurice Gould,bwilliams@yahoo.com,Studio 17o\nJosephine valley\nWilliamshaven\nG...,Port Anne,1994-08-13 05:45:16,92
1,Alex Byrne,fstephens@king-bailey.biz,3 Thomas lights\nSouth Kimland\nAL91 8SF,Brettmouth,2012-01-08 05:53:01,42
2,Michelle Morris,leonbooth@heath.org,294 Scott alley\nNorth Lewis\nN0W 9JA,South Nicholasside,1987-03-28 01:27:01,89
3,Eric Simpson,gmatthews@khan.com,9 Clare harbors\nWest Jonathanside\nE7F 5SQ,East Josephineview,1997-01-23 19:08:01,28
4,Dr. Cameron Lewis,smason@hotmail.com,59 Julian underpass\nShauntown\nBT3M 2HQ,North Declan,1986-03-21 15:53:46,12

In [35]:
df

,A,B,C,D,E,Age
0,Dr. Maurice Gould,bwilliams@yahoo.com,Studio 17o\nJosephine valley\nWilliamshaven\nG...,Port Anne,1994-08-13 05:45:16,92
1,Alex Byrne,fstephens@king-bailey.biz,3 Thomas lights\nSouth Kimland\nAL91 8SF,Brettmouth,2012-01-08 05:53:01,42
2,Michelle Morris,leonbooth@heath.org,294 Scott alley\nNorth Lewis\nN0W 9JA,South Nicholasside,1987-03-28 01:27:01,89
3,Eric Simpson,gmatthews@khan.com,9 Clare harbors\nWest Jonathanside\nE7F 5SQ,East Josephineview,1997-01-23 19:08:01,28
4,Dr. Cameron Lewis,smason@hotmail.com,59 Julian underpass\nShauntown\nBT3M 2HQ,North Declan,1986-03-21 15:53:46,12
5,Allan Finch,bmoss@gmail.com,Studio 1\nParker inlet\nWest Reeceborough\nS1 9GX,East Maria,1976-04-09 15:37:17,35
6,Dr. June Woodward,glennwilkinson@gmail.com,6 Carey circle\nRileybury\nG41 8DR,East Carolyn,1972-03-14 08:37:13,3
7,Francesca Leach,davidsonleonard@thompson.com,Flat 27w\nLewis mill\nTerencebury\nW84 7DU,Jakeborough,2004-05-11 07:49:24,31
8,Mr. Vincent Reid,lewisleah@robertson.com,529 Martin fields\nSouth Alice\nHX2 1BF,Eleanorton,2016-07-24 09:51:40,13
9,Teresa Storey-Bradshaw,vcook@richards-cox.biz,Flat 8\nPorter vista\nMarcborough\nLL5 5TT,Berryshire,1994-05-27 11:47:47,67