In [49]:
# imports the necessary python modules
import os
import pandas as pd

# obtains the machine username for cleaner file paths
user = os.environ["HOME"]

In [50]:
# assigns plane data to corresponding columns - https://en.m.wikipedia.org/wiki/EasyJet
planetype_data = {'Manufacturer': ['Airbus', 'Airbus', 'Airbus', 'Airbus'],
                   'Model': ['A319-100', 'A320-200', 'A320neo', 'A321neo'],
                   'Capacity': [156, 186, 186, 235],
                   'Fleet_Count': [132, 168, 15, 3]
                  }

# creates a dataframe for the plane type data
planetype_data = pd.DataFrame.from_dict(planetype_data)

planetype_data.head()

   Capacity  Fleet_Count Manufacturer     Model
0       156          132       Airbus  A319-100
1       186          168       Airbus  A320-200
2       186           15       Airbus   A320neo
3       235            3       Airbus   A321neo

In [51]:
# outputs the plane data to csv
planetype_data.to_csv(user+"/Documents/CSC7052_Data_Preprocessing/data/plane_types.csv", index=False)